.card-img-top {
    transition: transform 0.3s ease; 
  }
  
  .card-img-top:hover {
    transform: scale(1.1); 
  }

  .card {
    /* width: 250px; */
    padding: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
  }
  