<div *ngIf="user">
    <h1>User Information</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Username</td>
          <td>{{ user.username }}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <td>First Name</td>
          <td>{{ user.firstName }}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{ user.lastName }}</td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>{{ user.gender }}</td>
        </tr>
        <tr>
          <td>Image</td>
          <td><img [src]="user.image" alt="User Image" class="img-thumbnail"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="!user">
    <p>Loading user information...</p>
  </div>
  