
<button class="btn bg-black text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="bi bi-list"></i>
    </button>
    <div class="offcanvas offcanvas-start text-bg-secondary" tabindex="-1" data-bs-backdrop="true" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">MENU</h5>
      <div class="d-flex justify-content-end">
        <button type="button" class="btn" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="bi bi-arrow-left"></i>
        </button>
      </div>
    </div>
    <div class="offcanvas-body bg-body-tertiary">
      <div class="mt-3">
        <ul class="list-group">
          <li class="list-group-item no-border" routerLink="/dashboard" routerLinkActive="active" data-bs-dismiss="offcanvas"><i class="bi bi-view-stacked"></i>&nbsp;Dashboard</li>
          <li class="list-group-item no-border" routerLink="/all-products" routerLinkActive="active" data-bs-dismiss="offcanvas"><i class="bi bi-boxes"></i>&nbsp;All Products</li>
          <li class="list-group-item no-border" routerLink="/best-sellers" routerLinkActive="active" data-bs-dismiss="offcanvas"><i class="bi bi-award"></i>&nbsp;Best Sellers</li>
          <li class="list-group-item no-border" routerLink="/computers" routerLinkActive="active" data-bs-dismiss="offcanvas"><i class="bi bi-phone"></i>&nbsp;smartphones</li>
          <li class="list-group-item no-border" routerLink="/user-info" routerLinkActive="active" data-bs-dismiss="offcanvas"><i class="bi bi-person-fill-check"></i>&nbsp;User-Info</li>
          <li class="list-group-item no-border" routerLink="/headphones" routerLinkActive="active" data-bs-dismiss="offcanvas"><i class="bi bi-view-list"></i>&nbsp;Product-List</li>
          <li class="list-group-item no-border" routerLink="/home-page" routerLinkActive="active" data-bs-dismiss="offcanvas">Home Page Best Sellers</li>
          <li class="list-group-item no-border" routerLink="/homepage-sale" routerLinkActive="active" data-bs-dismiss="offcanvas">Home Page Sale</li>
          <li class="list-group-item no-border" routerLink="/mobile" routerLinkActive="active" data-bs-dismiss="offcanvas">Mobile</li>
          <li class="list-group-item no-border" routerLink="/sale" routerLinkActive="active" data-bs-dismiss="offcanvas">Sale</li>
          <li class="list-group-item no-border" routerLink="/speakers" routerLinkActive="active" data-bs-dismiss="offcanvas">Speakers</li>
          <li class="list-group-item no-border" routerLink="/tablets" routerLinkActive="active" data-bs-dismiss="offcanvas">Tablets</li>
          <li class="list-group-item no-border" routerLink="/tv-home" routerLinkActive="active" data-bs-dismiss="offcanvas">T.V & Home Cinema</li>
          <li class="list-group-item no-border" routerLink="/wearable" routerLinkActive="active" data-bs-dismiss="offcanvas">Wearable Tech</li>
        </ul>
      </div>
    </div>
    </div>
