
<button class="btn btn-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <i class="bi bi-list"></i>
    </button>
    <div class="offcanvas offcanvas-start text-bg-secondary" tabindex="-1" data-bs-backdrop="true" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">MENU</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body bg-body-tertiary">
      <div class="mt-3">
        <ul class="list-group">
          <li class="list-group-item no-border" routerLink="/dashboard" routerLinkActive="active">Dashboard</li>
          <li class="list-group-item no-border" routerLink="/all-products" routerLinkActive="active">All Products</li>
          <li class="list-group-item no-border" routerLink="/best-sellers" routerLinkActive="active">Best Sellers</li>
          <li class="list-group-item no-border" routerLink="/computers" routerLinkActive="active">smartphones</li>
          <li class="list-group-item no-border" routerLink="/drones" routerLinkActive="active">Drones & Cameras</li>
          <li class="list-group-item no-border" routerLink="/headphones" routerLinkActive="active">Headphones</li>
          <li class="list-group-item no-border" routerLink="/home-page" routerLinkActive="active">Home Page Best Sellers</li>
          <li class="list-group-item no-border" routerLink="/homepage-sale" routerLinkActive="active">Home Page Sale</li>
          <li class="list-group-item no-border" routerLink="/mobile" routerLinkActive="active">Mobile</li>
          <li class="list-group-item no-border" routerLink="/sale" routerLinkActive="active">Sale</li>
          <li class="list-group-item no-border" routerLink="/speakers" routerLinkActive="active">Speakers</li>
          <li class="list-group-item no-border" routerLink="/tablets" routerLinkActive="active">Tablets</li>
          <li class="list-group-item no-border" routerLink="/tv-home" routerLinkActive="active">T.V & Home Cinema</li>
          <li class="list-group-item no-border" routerLink="/wearable" routerLinkActive="active">Wearable Tech</li>
        </ul>
      </div>
    </div>
    </div>
