<!-- <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/laptop.jpg" class="d-block w-100 carousel-img" alt="...">
        <div class="carousel-item active carousel-bg" style="background-image: url('../../assets/laptop.jpg');">
        <div class="carousel-caption d-none d-md-block position-relative top-0 start-50 translate-middle">
            <p class="text-bg-danger p-2">Best Prices</p>
            <h5>Laptop</h5>
            <p>Description for the laptop.</p>
              <button type="button" class="btn btn-danger">Danger</button>

          </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/phone.jpg" class="d-block w-100 carousel-img" alt="...">
        <div class="carousel-item carousel-bg" style="background-image: url('../../assets/phone.jpg');">
      </div>
      <div class="carousel-item">
        <img src="../../assets/watch.jpg" class="d-block w-100 carousel-img" alt="...">
        <div class="carousel-item carousel-bg" style="background-image: url('../../assets/watch.jpg');">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->


<!-- anush -->

<div class="container-fluid">
    <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active carousel-bg" style="background-image: url('../../assets/laptop.jpg');">
                <div class="carousel-caption d-none d-md-block position-relative top-0 start-50 translate-middle">
                    <p class="text-bg-danger p-2">Best Prices</p>
                    <h5>Laptop</h5>
                    <p>Description for the laptop.</p>
                    <button type="button" class="btn btn-danger">Danger</button>
                </div>
            </div>
            <div class="carousel-item carousel-bg" style="background-image: url('../../assets/phone.jpg');">
            </div>
            <div class="carousel-item carousel-bg" style="background-image: url('../../assets/watch.jpg');">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row mt-5">
        <div class="col-6">
            <div class="carousel-item active carousel-bg" style="background-image: url('../../assets/phone1.jpg');">
            </div>
            <div class="carousel-caption d-none d-md-block position-relative top-50 start-50 translate-middle">
                <p class="">Best Prices</p>
                <h5>Laptop</h5>
                <p>Description for the laptop.</p>
                <button type="button" class="btn btn-danger">Danger</button>
            </div>
            <!-- <div class="position-absolute top-0 start-0 translate-middle"></div> -->
        </div>
        <div class="col-6">
            <div class="carousel-item active carousel-bg" style="background-image: url('../../assets/headphones.jpg');">
            </div>
            <div class="carousel-caption d-none d-md-block position-relative top-50 start-50 translate-middle">
                <p class="">Best Prices</p>
                <h5>Laptop</h5>
                <p>Description for the laptop.</p>
                <button type="button" class="btn btn-danger">Danger</button>
            </div>
        </div>

    </div>

    <div class="row mt-5 text-center border border-1 bg-info-subtle">
        <div class="col-3">
            <i class="bi bi-truck"></i>
            <p>curb-side pickup</p>
        </div>
        <div class="col-3">
            <i class="bi bi-box-seam"></i>
            <p>Free shipping on orders over $50</p>

        </div>
        <div class="col-3">
            <i class="bi bi-cash"></i>
            <p>low-prices guaranteed</p>

        </div>
        <div class="col-3">
            <i class="bi bi-clock-history"></i>
            <p>Available to you 24/7</p>

        </div>
    </div>

    <div class="row mt-5 text-center border border-1 bg-info-subtle">
        <div class="text-center">
       <h2>Best cellers</h2>
    </div> 
    <div class="card-group">
        <div class="card">
          <img src="../../assets/tablet.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <!-- <h5 class="card-title">Card title</h5> -->
            <p class="card-text">JP-Tablet 10.4" Wi-Fi 32GB</p>
            <p class="card-text text-info"><small class="text-decoration-line-through">$85.00</small> $70.00</p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/tablet1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
          <img src="../../assets/tv.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
        <div class="card">
            <img src="../../assets/watch.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/watch.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/watch.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/watch.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
      </div>
</div>