.carousel-img {
    height: 600px;
    object-fit: cover; 
  }
  .carousel-bg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px; /* Adjust the height as needed */
}
.card-custom {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}
.card-custom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .curved-image-wrapper {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.curved-image {
  width: 100%;
  height: 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  object-fit: cover;
} */
/* .custom-row {
  padding: 10px; 
}

.custom-col {
  padding: 10px; 
} */

.custom-image {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}


