.carousel-img {
    height: 600px;
    object-fit: cover; 
  }
  .carousel-bg {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px; 
}
.card-custom {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
}
.card-custom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .curved-image-wrapper {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}
.curved-image {
  width: 100%;
  height: 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  object-fit: cover;
} */
/* .custom-row {
  padding: 10px; 
}

.custom-col {
  padding: 10px; 
} */

.custom-image {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}

.col {
  border-right: 1px solid #6c757d; 
}
.col:last-child {
  border-right: none; 
}
.custom-height {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col {
  border-right: 1px solid #6c757d; 
}
.col:last-child {
  border-right: none; 
}
html, body {
  height: 100%;
}

.row {
  height: 100%;
}

.col-sm-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
}
.chat-box {
  height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.messages {
  flex-grow: 1;
  margin-bottom: 10px;
}
.messages .message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.messages .message.sent {
  background-color: #d1e7dd;
  align-self: flex-end;
}
.messages .message.received {
  background-color: #f8d7da;
  align-self: flex-start;
}
.category-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: #f8f9fa;
  width: 150px;
  height: 150px;
  margin: 20px auto;
}

.category-item img {
  max-width: 80px;
  max-height: 80px;
}

.category-item.sale {
  background-color: #6c63ff;
  color: #fff;
}

.category-item.sale img {
  filter: invert(1);
}

.category-item.black-circle {
  background-color: #000;
  color: #fff;
}

.category-item.black-circle img {
  filter: invert(1);
}

.category-title {
  margin-top: 10px;
  font-weight: 500;
}
.chat-modal-dialog {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px; /* Adjust the width as needed */
  margin: 0;
  z-index: 1055; /* Ensures it appears on top of other content */
}

.chat-box {
  height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.messages {
  height: 200px; /* Adjust the height based on the total height of the chat box */
  overflow-y: scroll;
  padding-right: 10px; /* Adjust for scrollbar */
  margin-bottom: 10px;
}
